/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}


.app-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  
}
.tagline {
  color:rgb(101, 132, 171);
}
.app-label {
  font-size: 18px;
  margin-bottom: 10px;
}
.input-container {
  display: flex;
  justify-content: center;
}

.app-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  height: 50%;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  margin-bottom: 20px;
  margin-right:1rem;
  color:rgb(212, 220, 220);
  border-bottom-left-radius: 1rem;
  text-indent: .7rem;
  outline:none;
  background-color: #353e47;
}
.app-input::-webkit-input-placeholder{
  color: rgb(165, 165, 165);
  font-size: 13px;
  font-family: 'Poppins';
  font-weight:200 ;
}

.app-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  max-height: 2.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: .5rem;
  padding: .5rem;
 
  font-size: 24px;
  cursor: pointer;
}

.app-button:hover {
  background-color: #0056b3;
}

.my-location-container {
  display:flex;
  color:white;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: 2.5rem;
  background: #0e0e0e;
  border-radius: 1rem;
}
.my-location-icon {
 height: 100px;
}
.my-location-name {
  margin-left:.8rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: -.3rem;
}
.my-location-city-name{
  margin-left:.9rem;
  margin-top: -1rem;
  font-size: 13px;; 
}
.des-location-container {
  display:flex;
  color:white;
  padding-top: 1rem;
  padding-left: 1rem;
  background: #0e0e0e;
  border-radius: 1rem;
}
.app-coordinates {
  font-size: 16px;
  margin-top: 10px;
}

.app-error {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}

.app-slider {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-distance {
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  justify-content:center ;
  
}

.app-message {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
}

/* Add additional styling as needed */
